 :root{
     --background-color: #494c64;
     --blue-background :#00bcd4;
     --text-color: #00bcd4;
     --normal-color : rgb(129, 129, 129);
     --gold-color : #fbce46;
     --primary-background: #f0f3f2;
 }

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}
.mg-top-100{
    margin-top:100px;
}
.mg-top-20{
    margin-top: 20px;
}
.btn{
    font-size: 14px;
    padding: 15px 20px;
}
.uppercase-text{
    text-transform: uppercase;
}
.header__contact-phone{
    cursor: pointer;
}
.header__contact-container{
    width: 100%;
    background-color: var(--primary-background);
}
.header__contact{
    display:flex;
    justify-content:space-between;
    margin-top:5px;
    font-size: 12px;
    align-items:center;
    background-color: var(--primary-background);
    padding: 8px 0;
    max-width: 1170px;
    width:inherit;
    margin-left: auto;
    margin-right: auto;
}
.header__contact-network ul,.header__contact-options ul {
    display: flex;
    justify-content: space-between;
}
.header__contact-network ul li,.header__contact-options ul li{
    margin: 0 10px;
    cursor: pointer;
}
.header__contact-network ul li{
    font-size:13px;
}
.header__contact-network ul li:nth-child(6){
    color: red;
}
.header__contact-options i{
    margin-right: 5px;
    font-size: 8px;
    top: 50%;
    transform: translateY(-20%);
}
.btn-wishlist{
    padding: 6px 12px;
    background-color: var(--background-color);
    outline: none;
    border: none;
    border-radius:5px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}
/* header menu */
.header__menu-container{
    width: 100%;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    width: inherit;
    max-width:1170px;
    margin-left: auto;
    margin-right: auto;
}
.header__menu-logo{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.header__menu-logo p{
    font-size:18px;
    font-weight:600;
    margin: 16px 0 0 5px;
}
.header__menu-nav ul,.header__menu-other ul{
    display: flex;
    justify-content: space-between  ;
    padding-top: 14px;
}
.header__menu-nav ul li,.header__menu-other ul li{
    margin: 10px 25px;
    font-weight: bold;
    font-size:14px;
    cursor: pointer;
}
.header__menu-nav ul li:nth-child(5){
    border: 3px solid #000;
    padding: 5px 15px;
    margin-top: 0;
}
.header__menu-nav ul li:hover{
    color: var(--text-color);
    cursor: pointer;
}
.header__menu-other ul li{
    margin: 10px 15px;
}
.header__menu-other ul li:nth-child(3){
    margin-right: -5px;
}
.header__menu-other .cart-notice{
    padding: 0px 10px ;
    background: var(--blue-background);
    font-size: 10px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    margin: 10px 0 10px 15px;
}


/* Banner */
.header__slider-container{
    background-color: var(--background-color);
    height:400px;
    position: relative;
    width: 100%;
}
.header__slider{
    position: absolute;
    transform:translateX(250px);
    margin-top:15px;
}
.header__slider-logo .img-bg{
    left: 47%;
    margin-top: 5%;
    position: relative;
}
.header__slider-logo .img-icon{
    position: absolute;
    margin-top: 7.7%;
    left: 49.25%;
}
.header__slider-title{
    display: inline-block;
    margin-left: 32%;
    margin-top: 30px;
    font-size:35px;
    color: #fff;
}

.header__slider-title span:first-child{
    font-weight: 800;
    margin-right: 10px;
    letter-spacing: 2px;
}
.header__slider-title span:last-child{
    font-weight: 100;
    color: rgb(212, 212, 212);
}
.header__slider-description{
    margin-top: 50px;
    color: rgb(212, 212, 212);
    font-size:20px;
    font-weight: 100;
}
.header__slider-tab ul{
    display: flex;
    justify-content: center;
    margin-top: 95px;
    font-size:14px;
}
.header__slider-tab ul li{
    margin-right: 20px;
    
}
.header__slider-tab ul li:nth-child(odd){
    color: var(--text-color);
    cursor: pointer;
}
.header__slider-tab ul li:nth-child(even){
    color: rgb(199, 198, 198);
}
.header__slider-tab ul li:last-child{
    color: #fff;
    border-bottom: 5px solid #ff5252;
    padding-bottom:15px;
}

/* Content product */
.content__product{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.product-img--primary{
    width:625px;
    height:800px;
    background-color: var(--primary-background);
    position:relative;
    margin-right: 10px;
}

.primary-button .btn-left{
    background-color:gray;
    position: absolute;
    border:none;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.primary-button .btn-right{
    right: 0;
    position:absolute;
    border:none;
    cursor: pointer;
    background-color:gray;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

}
.primary-button .btn-left:hover, .primary-button .btn-right:hover{
    background-color:var(--blue-background);
}

.product-img--extra{
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    justify-content:space-between;
    
}
.product-img--extra-item{
    width:80px;
    height: 80px;
    background-color: #d4d8da;
    text-align:center;
}
.product-img--extra-item i{
    margin-top: 35px;
    font-size: 16px;
}
.product-img--extra-item:last-child , .product-img--extra-item:first-child{
    background-color:var(--primary-background);
    cursor: pointer;
}
.product-img--extra-item:nth-child(3){
    background-color:gray
}
.product-img--extra-item:nth-child(4){
    background-color:var(--blue-background);
    position: relative;
}
.product-img--extra-item:nth-child(4)::before{
    content: "";
    border-style: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--blue-background) transparent;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top: -17px;
    z-index: -1;
}
.product-contact{
    margin-top : 80px;
}
.product-contact-network ul{
    display: flex;
    justify-content:flex-start;
}
.product-contact-network ul li{
    margin: 0 10px 0 5px;
    font-size: 14px;
    color: var(--normal-color);
    cursor: pointer;
}
.product-contact-description{
    margin-top:40px;
    color: var(--normal-color);
    font-size: 11px;
    font-weight: 200;
}
.code , .catogory,.tag{
    margin-top:10px;
}
.product-contact-description .code span:last-child{
    color: black;
    font-size: 12px;
    margin-left: 5px;
}
.product-contact-description .catogory span:last-child{
    color: var(--text-color);
    margin-left: 5px;
}
.product-contact-description ul{
    display: flex;
    justify-content:flex-start;
}
.product-contact-description ul li{
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    background-color:rgb(211, 211, 211);
    padding: 0 10px;
    margin-left: 15px;
    font-size: 10px;
}
.product-contact-description ul li i{
    font-size: 3px;
    color: #fff;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
}

/* product detail */
.content__product{
    width: 1170px;
}
.content__product-description{
    margin-left: 30px;
}
.product-title-head {
    display: flex;
    justify-content:space-between;
}
.product-title-head h1{
    font-size: 40px;
    margin-top: 10px;font-weight:100;
}
.product-title-head .btn-left{
    background-color: #fff;
    padding: 5px 10px;
    color: var(--normal-color);
}
.product-title ul{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    padding-bottom: 25px;
    border-bottom-style: double;
}
.product-title ul li{
    font-size: 20px;
    margin-right: 5px;
    color:var(--gold-color) ;
}
.product-title ul li:nth-child(5){
    color: rgb(99, 98, 98);
}
.product-title ul li:last-child{
    color: var(--text-color);
    font-size:13px;
    padding-top: 3px;
    margin-left: 15px;
}
.product-body{
    margin-top:60px;
}
.product-body-price{
    display:flex;
    justify-content:flex-start;
}
.old-price{
    margin-right: 30px;
    
    color:var(--normal-color);
    font-weight:100;
}
.old-price h5{
    margin-bottom: 15px;
    font-size: 12px;
}
.old-price span{
    text-decoration: line-through;
    font-size: 25px;
}
.new-price h5{
    color: red;
    margin-bottom:15px;
    font-size: 12px;
}
.new-price span{
    font-size: 27px;
    font-weight:200;
}
.product-body-detail{
    margin-top:40px;
    color: var(--normal-color);
    font-size:16px;
    line-height: 1.5;
}
.product-body-detail p{
    margin-bottom: 40px;
}
.product-body-detail i{
    color: red;
    font-size: 8px;
    margin: 0 10px 0 5px;
    transform: translateY(-2px);
}
.product-selection{
    margin-top:40px;
}

.product-selection-size label , .product-selection-color label {
    font-size:16px;
}
.product-selection-size #size  {
    padding: 5px 60px 5px 10px;
    margin-left: 30px;
    color: var(--normal-color);
}
.product-selection-color{
    margin-top: 10px;
}
.product-selection-color #color{
    padding: 5px 73px 5px 10px;
    margin-left: 24px;
    color: var(--normal-color);
}
.clear-selection{
    margin-top: 20px;
    font-size:12px;
    color: var(--text-color);
    margin-left: 62px;
    cursor:pointer;
}
.clear-selection i{
    font-size: 8px;
    transform: translateY(-2px);
    margin-right: 7px;
}
.product-cart{
    margin-top:80px;
}
.product-cart-price ul{
    display:flex;
    justify-content:flex-start;
}
.product-cart-price ul li{
    margin-right: 15px;
}
.product-cart-price ul li:first-child{
    font-size:25px;
    text-decoration: line-through;
    color: var(--normal-color);
}
.product-cart-price ul li:nth-child(2){
    font-size:35px;
    color: black;
}
.product-cart-price ul li:last-child{
    font-size: 18px;
    color: var(--normal-color);
}
.cart-button{
    margin-top: 25px;
}
.btn-quantity{
    border: none;
    margin-right: 15px;
}
.btn-add-to-cart{
    background-color: var(--blue-background);
    color: #fff;
    outline:none;
    border: none;
    margin-right: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    
}
.btn-add-to-wishlist{
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}
.size-guide{
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-color);
}
.size-guide i{
    margin-right: 15px;
}

/* content product introduce */
.content__product-intro{
    width:1170px;
    margin-left: auto;
    margin-right: auto;
}
.option-intro{
    display: flex;
    justify-content: flex-start;
}
.option-intro-description ,.option-intro-info,.option-intro-review{
    padding: 10px 20px;
    font-size:12px;
    background-color: rgb(228, 224, 224);
    margin-right: 20px;
    border-radius: 1px ;
    color: var(--normal-color);
}
.option-intro-description:hover,.option-intro-info:hover,.option-intro-review:hover{
    background-color:#fff;
    font-weight:bold;
    border: 1px solid black;
    cursor: pointer;
    color: black;
}
.option-intro-review span{
    color: red;
}
.box-intro{
    margin-top: 20px;
    border: 1px solid black;
    padding:60px 40px;
    display: flex;
    justify-content:space-around;
    font-size: 16px;
    line-height:1.5;
}
.img-product{
    flex: 1;
    width: 260px;
    height:260px;
    background-color:var(--primary-background);
    position: relative;
}
.img-product img{
    position: absolute;
    top: 30%;
    transform: translateX(68%);
}
.box-intro-info{
    flex:2;
    margin-left: 40px;
    color: var(--normal-color);
}
.box-intro-review{
    flex: 1;
    margin-left: 40px;
}
.box-intro-review  li{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(163, 161, 161);
    padding: 14px 10px;
}
.box-intro-review  li:first-child{
    color: #b67ceb;
}
.box-intro-review  li:nth-child(2){
    color: #8a9aeb;
}
.box-intro-review  li:last-child{
    color: #00bcd4;
}
.box-intro-review span{
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 50%;
    border: 1px solid #dcc1f6;
    margin-right: 10px;
}
.box-intro-review span:first-child{
    border: 2px solid #b67ceb;
}
.box-intro-review span:nth-child(2){
    border: 2px solid #8a9aeb;
}
.box-intro-review span:last-child{
    border: 2px solid #00bcd4;
}
.btn-direction{
    margin-top: 20px;
}
.btn-direction--pre,.btn-direction--next{
    padding: 5px 15px;
    font-size: 12px;
    color: var(--normal-color);
    background-color:#fff;
    border-radius: 2px;
    cursor: pointer;
}
.btn-direction--next{
    float: right;
}
.btn-direction--pre i{
    font-size:10px;
    transform: translateY(-1px);
    margin-right: 10px;
}
.btn-direction--next i{
    font-size: 10px;
    transform: translateY(-1px);
    margin-left: 10px;
}
.content-product-structure--fullwidth{
    width: 100%;
    background-color:var(--primary-background);
    margin-top: 80px;
}
.content-product-structure{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.product-name{
    background-color: var(--primary-background);
    text-align: center;
}
.product-name-title{
    padding-top:100px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing:2px;
}
.product-name-title span{
    color: var(--gold-color);
    letter-spacing:1px;
}
.product-name-description{
    margin-top: 40px;
    padding-bottom: 100px;
    font-size: 14px;
}

.product-structure img{
    width: 100%;
    margin-right: 120px;
}
.product-structure{
    position: relative;
}
.product-color,.product-design,.product-material{
    display: flex;
}
.product-color-icon,.product-design-icon,.product-material-icon{
   border: 1px solid rgb(172, 169, 169);
   width: 40px;
   height: 40px;
   border-radius:50%;
}
.product-color-icon img ,.product-design-icon img,.product-material-icon img{
    width: 25px;
    height: 25px;
    transform: translateY(6px);
    margin-left: 6px;
}

.product-color-text,.product-design-text,.product-material-text{
    margin-left: 20px;
}
.product-color-text p ,.product-design-text p,.product-material-text p{
    margin-top: 15px;
}
.product-structure-detail{
    top: 0;
    right: 0;
    transform: translateX(-16%);
    margin-top: 30px;
    position: absolute;
    width:355px;
}
.text-title{
    display: inline-block;
    padding-top: 7px;
}
.text-title span:first-child{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-right: 5px;
    
}
.text-title span:last-child{
    font-size: 16px;
    color: var(--normal-color);
    font-weight:300;
}

.product-color-text p , .product-design-text p ,.product-material-text p{
    font-size: 13px;
    color: var(--normal-color);
    font-weight:300;
}

.product-color::before,.product-design::before,.product-material::before{
    content: "";
    position: absolute;
    background-color: rgb(211, 210, 210);
    width: 160px;height: 1px;
    z-index: 1;
    transform:translateX(-100%);
    margin-top:15px;
    
}
.content-product--interested-in{
    width:1170px;
    margin-left: auto;
    margin-right: auto;
}
.content-product--interested-in-title{
    text-transform:uppercase;
    letter-spacing:2px;
    font-size: 24px;
    text-align: center;
    position: relative;
}
.product-list{
    display: flex;
    justify-content: space-between;
    margin-top:100px;
}
.product-list-item .img{
    width:160px;
    height: 200px;
    background-color: var(--primary-background);
    position: relative;
}
.item-name{
    font-size:13px;
    text-align: center;
    margin-top: 20px;
}
.item-price{
    font-size: 10px;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
}
.sale-shape{
    background-color: var(--blue-background);
    color: #fff;
    text-transform:uppercase;
    font-size: 10px;
    border-radius:50%;
    position: absolute;
    padding: 20px 15px;
    transform:translateY(20px);
    margin-left: 120px;
    z-index: 2;
    font-weight: 600;
}
.new-shape{
    color: #fff;
    text-transform:uppercase;
    font-size: 10px;
    background-color:black;
    position: absolute;
    padding: 15px 12px;
    transform:translateY(65px);
    margin-left: 125px;
    font-weight: 400;
    border-radius: 50%;
}
.content-product--interested-in-title::before{
    content: "";
    width: 350px;
    height:1px;
    border: 1px solid gray;
    border-left-color: #fff;
    border-right-color: #fff;
    position: absolute;
    transform:translateX(-395px);
    margin-top: 7px;
}
.content-product--interested-in-title::after{
    content: "";
    width: 350px;
    height:1px;
    border: 1px solid gray;
    border-left-color: #fff;
    border-right-color: #fff;
    position: absolute;
    transform:translateX(35px);
    margin-top: 7px;
}

/* footer */
footer{
    width: 100%;
    background-color: #181828;

}
.footer{
    width: 1170px;
    margin-left: 150px;
    display: flex;
    justify-content:space-between;
    background-color: #181828;
    color:var(--normal-color);
    font-size: 12px;
    padding: 40px 2px;
}
.footer_copyright{
    text-align:center;

}
.footer_copyright span{
    color:#00bcd4;
    cursor: pointer;
}
.footer_help ul, .footer_social-network ul{
    display: flex;
    justify-content: space-between;

}
.footer_help ul li{
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}
.footer_social-network ul li:not(:last-child){
    margin-right: 15px;
}
.footer_help ul li:not(:last-child)::after{
    content: "";
    width:1px;
    height:15px;
    background-color:gray;
    position:absolute;
    transform:translateX(15px);
}
.footer_social-network ul li i{
    font-size: 14px;
    cursor: pointer;
}

